<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <title>Magic_XML</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    
    <script src="/static/js/main.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="user-panel">
          <a href="https://PicTrace.replit.app">Home</a>
          <a href="https://PicTrace.replit.app">Contacts</a>
          <a href="https://solarxml.replit.app">DataAPI</a>
          <a href="https://PicTrace.replit.app">AuraChat</a>
          <a href="https://PicTrace.replit.app">PicTrace</a>
        </div>
    </header>

    <h1>Insert the link:</h1>
    <form id="linkForm">
        <label for="linkUrl">URL link:</label>
        <input type="text" id="linkUrl" name="linkUrl" required>
        <button type="submit">Process</button>
    </form>

    <div id="processingDiv" style="display: none;">
        Processing...
    </div>
    
    <div id="resultDiv"></div>
    <a href="#" id="downloadLink" style="display: none;">Download CSV</a>
    <button id="anotherProcessButton" style="display: none;" onclick="resetForm()">Process Again</button>
    
    <p id="contactInfo">If you encounter any issues, contact me at: reveni324@gmail.com</p>
</body>
</html>
